.header {
  display: flex;
  align-items: center;

  grid-area: header;

  border-bottom: 1px solid $brand-gray;
  padding: 26px 40px 26px 0;
}

.title {
  line-height: 1;
  margin-bottom: 0;
}

.header-actions {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-action {
  font-weight: $font-weight-medium;
  font-size: 14px;
}