.slide-enter {
  display: block;
  opacity: 0;
}
.slide-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out;
}
.slide-exit {
  display: block;
  opacity: 1 !important;
  transition: opacity 250ms ease-out;
}
.slide-exit-active {
  opacity: 0 !important;
  transition: opacity 250ms ease-out;
}
.slide-exit-done {
  display: none;
}