// Common
$golden: 1.333 !default;


// Fonts
$font-family: 'Rubik', 'Arial', sans-serif;

$font-size-common: 16px;
$font-weight-common: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;


// Grid
$breakpoints: (
  xs: 0px,
  sm: 586px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


// Brand
$brand-blue: #00baff;
$brand-lightblue: #00DDFF;
$brand-gray: #dddddd;
$almost-white: #FAFAFA;
$gray-lightest: #F4F4F4;
$gray-100: #FAFAFA;
$gray-200: #CFCFCF;
$gray-300: #C4C4C4;
$gray-400: #929292;
$gray-500: #BEBEBE;
$gray-600: #FBFBFB;
$gray-700: #E6F9FF;
$gray-800: #34464D;
$gray-900: #071F27;
$brand-white: #fff;
$brand-black: #000;

$brand-red: #FF3232;


// Backgrounds
$background-color: $brand-white;


// Headings
$headings-line-height: 1.2;

$h2-font-size: 28px;
$h3-font-size: 18px;
$h4-font-size: 18px;
$h5-font-size: 14px;


// Animation
$transition-time: 100ms;
$transition-function: ease-in-out;



// Overrides
$font-family-base: $font-family;
$font-weight-base: $font-weight-common;
$font-weight-normal: $font-weight-common;
$font-size-base: rem(14px, $font-size-common);

$primary: $brand-blue;
$secondary: $gray-400;

$border-radius: 5px;

$headings-font-weight: $font-weight-regular;
$headings-color: $gray-900;

$h1-font-size: 22px;
$input-border-color: $gray-300;

$input-padding-y: rem(6px, $font-size-common);
$input-padding-x: rem(10px, $font-size-common);
$input-font-size: 14px;
$input-font-weight: 300;
$input-placeholder-color: $gray-400;

$btn-font-weight: $font-weight-common;
$btn-padding-y: 6px;
$btn-padding-x: 20px;

$table-head-bg: $gray-100;
$table-border-width: 0;
$table-th-font-weight: 400;
$table-cell-padding: 12px 10px;

$dropdown-border-color: $gray-900;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: 11px;
$dropdown-item-padding-x: 20px;
$dropdown-link-hover-bg: $gray-lightest;
$dropdown-font-size: 14px;
$dropdown-divider-margin-y: 0;

$modal-backdrop-bg: $gray-900;
$modal-backdrop-opacity: .75;
$modal-header-padding-y: 20px;
$modal-header-padding-x: 20px;
$modal-inner-padding: 20px 30px;
$modal-footer-margin-between: 20px;
$modal-sm: 550px;
$modal-md: 580px;
$modal-lg: 890px;

$label-margin-bottom: 16px;
