.tag-input {
  display: block;
  margin-bottom: 0;
}

.caption {
  cursor: pointer;
  font-weight: $font-weight-regular;
  margin-bottom: $label-margin-bottom;
}

.tags:not(:empty) {
  margin-top: 20px;
}

.tag {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
