.select {
  position: relative;
}

.select-body {
  border: 1px solid #C4C4C4;
  border-radius: 5px;

  .is-external.is-opened & {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.select-label {
  width: 100%;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
}

.select-caption {
  font-weight: $font-weight-regular;
  color: $gray-900;
  cursor: pointer;
  display: inline-block;
  margin-bottom: $label-margin-bottom;
}

.select-toggle {
  padding: 8px 20px;
  color: $gray-400;
  font-size: 14px;
  line-height: 1.45;

  display: flex;
  justify-content: space-between;

  transition: color 250ms ease-in-out;
}

.select-toggle-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: $gray-900;
}

.select-list {
  position: relative;
  overflow: hidden;
  max-height: 200px;

  .is-external & {
    position: absolute;
    left: 0;
    right: 0;

    border: 1px solid #C4C4C4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    border-top: none;
  }
}

.select-option {
  padding: 8px 20px;
  background-color: $brand-white;
  cursor: pointer;

  &:hover {
    background-color: darken($gray-100, 10);
  }

  &.is-disabled {
    pointer-events: none;
    color: $gray-300;
  }
}
