.table {
  font-size: 14px;
}

.table-head {
  background-color: $table-head-bg;
}

.table-row {
  border-bottom: 1px solid rgba($gray-200, .7);
}

.table-row-active {
  //
}

.table-placeholder {
  padding: 100px 50px !important;
  color: $gray-400;
  text-align: center;
}