.table {
  font-size: 14px;
  width: 100%;
  display: block;

  &.table-outline {
    border-spacing: 0 20px;
    margin-top: -20px;
  }
}

.table-row,
.table-head-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba($gray-200, .7);

  .table-outline & {
    border-bottom: 0;
  }
}

.table-row {
  .table-outline & {
    &::after {
      content: "";
      display: block;
      margin-bottom: 20px;
    }
  }
}

.table-head-row {
  background-color: $table-head-bg;

  .table-outline & {
    background-color: transparent;
  }
}

.table-row-data,
.table-head-row-data {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.table-row-data {
  position: relative;

  .table-outline & {
    border: 1px solid $gray-300;
    border-radius: 5px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;

    background-color: rgba($almost-white, .6);

    transition: opacity 250ms ease-in-out;
  }

  &.is-disabled {
    &::before {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.table-placeholder {
  padding: 100px 50px !important;
  color: $gray-400;
  text-align: center;
}

.table-cell,
.table-head-cell,
.table-switch {
  display: block;
  padding: $table-cell-padding;
}

.table-switch {
  width: 90px;
}

.table-cell {
  vertical-align: middle;

  .table-outline & {
    padding: 12px 10px;
  }
}

.table-head-cell {
  text-align: left;
  font-weight: $font-weight-regular;

  .table-outline & {
    padding-bottom: 0;
  }
}

.table-cell-actions {
  white-space: nowrap;
  width: 120px;
}

.table-action {
  padding: 2px;
  color: $gray-300;

  &:hover {
    color: $primary;
  }

  &:focus {
    box-shadow: none;
  }

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.is-disabled {
  pointer-events: none;
  position: relative;
}
