.table-cell,
.table-head-cell {
  flex-grow: 1;
  display: block;
  padding: $table-cell-padding;
}

.table-cell {
  vertical-align: middle;

  &.theme-outline {
    padding: 9px 10px;
  }
}

.table-head-cell {
  text-align: left;
  font-weight: $font-weight-regular;
  align-items: flex-end;

  &.theme-outline {
    padding-bottom: 0;
  }
}

.table-cell-switch {
  flex-grow: 0 !important;
  max-width: 80px;
  min-width: 80px;
}

.table-cell-drag {
  flex-grow: 0 !important;
  max-width: 30px;
  min-width: 30px;
  padding-right: 0;
}

.table-cell-actions {
  flex-grow: 0 !important;
  max-width: 120px;
  min-width: 120px;
  margin-left: auto;
}
