.project-info {
  display: flex;
}

.project-info-type {
  margin-right: 20px;
}

.project-info-meta {
  display: flex;
  align-items: center;
  
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.project-info-project-name {
  margin-left: 14px;
  display: inline-block;
}

.compact .project-info-project-name {
  margin-left: 10px;
}