.tariff {
  height: 120px;
  display: flex;
  align-items: center;
  color: $gray-900;

  font-size: 18px;

  border-bottom: 1px solid $brand-gray;
  margin-top: -40px;
}

.tariff-title {
  margin-right: 10px;
}

.tariff-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.tariff-item-date {
  color: $gray-400;
}

.selected-tariff {
  font-size: 18px;
  color: $gray-900;

  display: flex;
  justify-content: center;
}

.selected-tariff-title {
  margin-right: 10px;
}

.selected-tariff-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.calculator {
  font-size: 18px;
  margin-top: 100px;
}

.calculator-range-wrapper {
  margin-top: 180px;
  padding: 0px 20px 80px;

  @media screen and (min-width: 1369px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.calculator-results {
  margin-top: 55px;
  text-align: center;
}

.calculator-cta {
  margin-top: 40px;
}

.disclaimer {
  font-size: 18px;
  display: block;
  text-align: center;
}

.active-mark {
  color: $primary;
}

.calculator-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-size: 12px;
  font-weight: $font-weight-regular;
}
.calculator-tooltip-price {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}