.search-input {
  width: auto;
  display: inline-flex;
  min-width: 300px;
}

.search-icon {
  position: absolute;
  color: $gray-200;
  background-color: transparent;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;

  z-index: 15;

  cursor: pointer;
}

.input {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

  padding-right: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
}
