.column {
  width: 50%;
}

.bot {
  display: flex;
  align-items: center;
  color: $gray-400;
}

.bot-info {
  color: $gray-900;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: underline;
}

.bot-state {
  color: $gray-300;
}
