.dropdown-toggle {
  display: inline-flex;
  padding: 8px;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 1px solid $gray-400;
  border-right-color: $gray-200;
  color: $gray-200;

  cursor: pointer;

  z-index: 10;
}

.dropdown-toggle-active {
  color: $primary;
}
