.accounts-table-time-readable {
  margin-right: 10px;
}

.account-info {
  display: flex;
}

.account-info-type {
  margin-right: 20px;
}

.account-info-project {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.account-info-project-name {
  margin-left: 14px;
  display: inline-block;
}
