.layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr;

  gap: 0px 40px;

  grid-template-areas:
    'sidebar header'
    'sidebar content';

  min-height: 100%;
}
